.hero__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: var(--size-4xl);
  letter-spacing: -0.05em;
  line-height: 3rem;
  padding: 8px;
}

#user__name {
  font-weight: 700;
}

.button__wrapper {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 8px;
}

/* Existing styles remain unchanged */

/* Add this CSS for the transaction history table */

.transaction-table {
  margin: 30px 5%;
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.transcation__heading {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
}

tbody tr:hover {
  background-color: #f5f5f5; /* Add a subtle hover effect */
}

/* Add this CSS for styling transaction receipt */
.transaction-receipt {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.crypto-card {
  padding: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 2fr); /* Two columns */
  gap: 22px; /* Space between cards */
  padding-left: 8px;
  margin-bottom: 24px;
}

.crypto-rates {
  display: flex;
  justify-content: space-around;
}

.crypto-rate {
  flex: 1;
  max-width: 200px;
  background-color: #fffefe;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
}

.crypto-icon {
  height: 50px;
  width: 50px;
  margin: 10px auto;
}

.btc {
  background-color: #f2a900;
  background-image: url(./images/bitcoin.png);
  background-size: contain;
}
.eth {
  background-color: #627eea;
  background-image: url(./images/eth.jpeg);
  background-size: contain;
}
.usdt {
  background-color: #00a4c3;
  background-image: url(./images/usdt.png);
  background-size: contain;
}
.sol {
  background-color: #36c7d0;
  background-image: url(./images/bnb.png);
  background-size: contain;
}

h3 {
  color: #333;
}

.rate-label {
  font-weight: bold;
  color: #666;
}

.buy-rate,
.sell-rate {
  margin: 5px 0;
  color: #333;
}

/* Adjust styles as needed */

/* Add this CSS for the blog card */
.blog__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: var(--size-4xl);
  letter-spacing: -0.05em;
  line-height: 3rem;
  padding: 8px;
}

.blog-content {
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 8px;
  border-radius: 12px;
}

.blog-content img {
  max-width: 100%;
  height: auto;
  border-radius: 18px;
  margin-bottom: 15px;
  padding: 12px;
}

.blog-content p {
  color: #555;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  font-size: var(--size-2xl);
  padding: 2px 12px;
}

.read-more-button {
  display: inline-block;
  padding: 1em 2.4em;
  border-radius: 4px;
  background-color: var(--clr-main);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: var(--size-2xl);
  font-weight: 700;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin-left: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.read-more-button:hover {
  background-color: #fff;
  color: #d79617;
  border: 1px solid #d79617;
}

@media (min-width: 475px) {
}

@media (min-width: 640px) {
  /* body {
    background-color: #d79617;
  } */
}

@media (min-width: 768px) {
  /* body {
    background-color: red;
  } */
  .Blog__section {
    display: flex;
    justify-content: space-around;
  }

  .blog-content {
    width: 280px;
  }
  .blog__heading {
    display: none;
  }

  .blog-content img {
    object-fit: contain;
    width: 800px;
  }

  .blog-content p {
    font-size: var(--size-1xl);
    width: 300px;
  }
  .read-more-button {
    margin-top: 28px;
  }

  .crypto-rate {
    flex: 1;
    min-width: 180px;
  }
}

@media (min-width: 1024px) {
  /* body {
    background-color: yellow;
  } */
  .blog-content {
    width: 500px;
  }

  .blog-content p {
    font-size: var(--size-2xl);
    width: 450px;
  }
}

@media (min-width: 1280px) {
  /* body {
    background-color: #00a4c3;
  } */

  .crypto-rate {
    flex: 1;
    min-width: 320px;
  }
}

@media (min-width: 1536px) {
  /* body {
    background-color: #333;
  } */
  .crypto-card {
    gap: 38px;
  }
  .crypto-rate {
    flex: 1;
    min-width: 480px;
  }
}
